
<div class="container">
	<h6 class="dress"><%= link_to 'Home', root_path%>  <i> </i> Lorem Ipsum </h6>
</div>
<div class="back">
	<h2>LOREM IPSUM</h2>
</div>
<!---->
<div class="product">
	<div class="container">
		<div class="col-md-3 product-price">
			<%=render "content_menu"%>
			<!---->
			<div class="product-middle">
				<div class="fit-top">
					<h6 class="shop-top">LOREM IPSUM</h6>
					<a href="#" class="shop-now">SHOP NOW</a>
					<div class="clearfix"> </div>
				</div>
			</div>
			<div class="sellers">
				<div class="of-left-in">
					<h3 class="tag">TAGS</h3>
				</div>
				<div class="tags">
					<ul>
						<li><a href="#">design</a></li>
						<li><a href="#">fashion</a></li>
						<li><a href="#">lorem</a></li>
						<li><a href="#">dress</a></li>
						<li><a href="#">fashion</a></li>
						<li><a href="#">dress</a></li>
						<li><a href="#">design</a></li>
						<li><a href="#">dress</a></li>
						<li><a href="#">design</a></li>
						<li><a href="#">fashion</a></li>
						<li><a href="#">lorem</a></li>
						<li><a href="#">dress</a></li>
					</ul>
					<div class="clearfix"> </div>
				</div>
			</div>
			<!---->
			<div class="product-bottom">
				<div class="of-left-in">
					<h3 class="best">BEST SELLERS</h3>
				</div>
				<div class="product-go">
					<div class=" fashion-grid">
						<a href="#">
							<%=image_tag("be.jpg", class:"img-responsive",  alt:"")%>
						</a>
					</div>
					<div class=" fashion-grid1">
						<h6 class="best2"><a href="#" >Lorem ipsum dolor sitamet consectetuer  </a></h6>
						<span class=" price-in1"> $40.00</span>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="product-go">
					<div class=" fashion-grid">
						<a href="#">
							<%=image_tag("be1.jpg", class:"img-responsive", alt:"")%>
						</a>
					</div>
					<div class="fashion-grid1">
						<h6 class="best2"><a href="#" >Lorem ipsum dolor sitamet consectetuer </a></h6>
						<span class=" price-in1"> $40.00</span>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="product-go">
					<div class=" fashion-grid">
						<a href="#">
							<%=image_tag("be2.jpg", class:"img-responsive", alt:"")%>
						</a>
					</div>
					<div class=" fashion-grid1">
						<h6 class="best2"><a href="#" >Lorem ipsum dolor sitamet consectetuer </a></h6>
						<ul class="star-footer">
							<li><a href="#"><i> </i></a></li>
							<li><a href="#"><i> </i></a></li>
							<li><a href="#"><i> </i></a></li>
							<li><a href="#"><i> </i></a></li>
							<li><a href="#"><i> </i></a></li>
						</ul>
						<span class=" price-in1"><small>$70.00</small> $40.00</span>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
			<div class=" per1">
				<%=image_tag("pro.jpg", class:"img-responsive", alt:"")%>
				<div class="six1">
					<h4>DISCOUNT</h4>
					<p>Up to</p>
					<span>60%</span>
				</div>
			</div>
		</div>
		<!---->
		<%=render 'single_top'%>

		<div class="clearfix"> </div>


	</div>
</div>
<!---->
<div class="bottom-grid1">
	<div class="fit1">
		<h3>HAPPY SHOPPING</h3>
		<p>Lorem Ipsum sit amet consectuer adipiscing elit
			sed diam nonummy nibh euismod</p>
	</div>
</div>
